body{
	background-color: #d1d1d1;
}
.clr:before,
.clr:after {
  content: "";
  display: table;
} 
.clr:after {
  clear: both;
}
.clr {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

header{
	background-color: #2f4351;
	text-align: center;
	height: 68px;
	margin: 0 auto;
	padding: 20px;
}
.cont{
	background-color: #3b5367;
	min-height: 100px;
	text-align: center;
	padding: 20px;
}
.tas{
	background-color: #d1d1d1;
	width: 1000px;
	min-height: 200px;
	margin: 0 auto;

}
.maindiv{
	background-color: white;
	width: 1000px;
	margin: 0 auto;
	min-height: 200px;
}
.tasie{
	/*background-color: yellow;*/
	/*color: blue;*/
	width: 480px;
	height: 460px;
	float: right;


}
#milly{
	width: 1000px;
	margin: 50px auto;

}

	.hobbies{
	width: 480px;
	background-color: white;
	float: left;
	min-height: 200px
}
h1{
	background-color: #f7ce06;
	margin-top: 0 auto;
}
h3{
	letter-spacing:  2px;
}
	.goals{
	width: 480px;
	background-color: white;
	min-height: 200px;
	float: right;
}
.context{
	width: 1000px;
	background-color: red;
	margin: 0 auto;
}
.context table{
	width: 100%;
	margin: 50px auto;
	border-collapse: collapse;
	background-color: #fff;


}
.context table tr{
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
}

.context table tr td{
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc ;
	border-collapse: collapse;
	padding: 20px 80px;
}

.context table tr th{
	background-color: yellow;
	height: 75px;
}
.context table tr:last-child{
	border-bottom: none;
}

footer {
	position: relative;
	background-color: #2f4351;
	min-height: 50px;
	padding-right: 300px;

}
h4{
	padding-right: 300px;

}
