body{
	 

	background-color: #666;
	
	
	
}
.container{
	width: 600px;
	background-color:maroon;
	margin: 0 auto; 
	padding: 20px;
	min-height:600px;
	text-align: center;
	/*float:left;*/


}

.top1{
		background-color: orange;
		width:200px; 
		min-height: 100px;
		float:left;
	}

.top2{
	background-color: pink;
	width: 100px;
	min-height: 100px;
	float: left;


}

.top3{
	background-color: blue;
	width: 100px;
	min-height: 100px;
	float: left;


}

.middle{
 	background-color: yellow;
 	width: 100px;
 	min-height: 100px;
 	float: left;

}

.bottom1{
	background-color: green;
	width: 100px;
	min-height: 100px;
	float: left;

}
.bottom2{
	background-color: black;
	width: 100px;
	min-height: 100px;
	float: left;


}

