body{
	background-color: #d3c4a3;
	
}
.head{
	height: 40px;
	background-color:#cca65d ;
	color: #6b6157; 
	padding-left: 350px;
	padding-top: 30px;
	/*text-align: 50px;*/
	font-family: arial;
}
.content{
	background-color: #ffffff;
	width: 600px;
	padding: 20px;
	margin: 0 auto;
}
.p1{
	padding: 20px;
}
footer{
	background-color: #413827;
	color: #948975;
	height: 50px;
	text-align: center;
	padding-top: 35px;
	/*width: 1000px;*/
	
}
h5{
	text-align: right;

}
h1{
	color: #3e3a31;
}